<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1 style="text-align: center;">View Student</h1>
    <a href="/insert" class="btn btn-primary btn-lg" style="margin:0px 0px 20px 0px">Add Student</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student:${students}">
            <th th:text="${student.getId()}" scope="row"></th>
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getAge()}"></td>
            <td th:text="${student.getGender()}"></td>
            <td>
                <a>
                    <button type="button" class="btn btn-warning">Update</button>
                </a>
                <a th:href="@{/delete/{id} (id = ${student.getId()})}" >
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
